# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Extra
hs_err_pid*
junit/
.mtj.tmp/
*~

# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.AppleDouble
.LSOverride
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
/bin/
*.cab
*.msi
*.msm
*.msp
